 * {
    box-sizing: border-box;
}


body {
font-family: 'Verdana', sans-serif;
    background-image: url(../../obrazy/man-1.jpg);
  

}
#mainheader {
  background-attachment: scroll;
 background-size:contain;
background-position:center;
    background-image: url(../../obrazy/man-1.jpg);
   
}

.header-caption {
    position: absolute;
   left: 0;
    right: 0;
    display: inline-block;
    margin-top: auto;
    margin-right: auto;
    font-size: 40px;
}
    


@media (max-width: 992x) {
    .header-caption {
   background-size: cover;
        text-align: right;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 992px;
    height: 100%;
    }
}
 @media (min-width: 992px) and (max-width: 1170px) {
.header-caption {
        background-image: url(../../obrazy/man-2.jpg);
    text-align: right;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    }
}
 @media (min-width: 1170px) {
.header-caption {
        background-image: url(../../obrazy/man-1.jpg);
    text-align: left;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    }
}